<section id="portfolio" class="pt-100 bg-grey">
    <div class="container">
        <div class="row justify-content-center text-center mb-60">
            <div class="col-lg-12">
                <h2 class="text-black fw-3">Galería de <strong class="fw-7">Fotos</strong></h2>
            </div>
            <div class="col-lg-8">
                <p>It seems that only fragments of the original <strong class="fw-7">text remain in the Lorem Ipsum texts used today.</strong> One may speculate</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio-filter list-unstyled text-center text-black portfolio-filter">
                    <li class="d-inline-block active" data-filter=".all">Todos</li>
                    <li class="d-inline-block" data-filter=".design">Hotel Cerrito</li>
                    <li class="d-inline-block" data-filter=".web">Hotel Belén</li>
                    <li class="d-inline-block" data-filter=".branding">Isla Valle</li>
                    <li class="d-inline-block" data-filter=".print">Sorteos</li>
                </ul>
            </div>
        </div>

        <ul class="row list-unstyled mb-0 portfolio-row">
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all branding">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/1.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/1.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all print web">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/2.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/2.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all branding">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/3.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/3.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all print design">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/4.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/4.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all print web">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/5.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/5.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all design">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/6.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/6.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all web">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/7.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/7.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all branding">
                <div class="portfolio-item" onClick="return true">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-img">
                            <img class="img-fluid d-block ml-auto mr-auto w-100" src="assets/images/galeria/8.jpg" alt="Portfolio">
                        </div>
                        <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
                            <div>
                                <h6 class="text-uppercase mb-2 fw-6">Project Name</h6>
                                <p class="mb-0">Website Design</p>
                                <a class="portfolio-item-view popup-image" href="assets/images/galeria/8.jpg"><span class="ti-search"></span></a>
                                <a class="portfolio-item-link" href="#"><span class="ti-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row text-center mb-5">
            <div class="col-lg-12">
                <a href="#" class="btn btn-green mt-60">VER MAS</a>
            </div>
        </div>
    </div>

</section>