<section id="services" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-green service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/BELLEZA.png" />
                    <!-- <span class="ti-mobile font-60 service-icon"></span> -->
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Belleza</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/CINE.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Cine</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-yellow service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/EDUCACION.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Educación</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/FARMACIA.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Farmacia</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-pink service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/GASTRONOMIA.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Gastronomía</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-orange service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/GIMNASIO.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Gimnasio</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-pink service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/HOGAR.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Hogar</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-green service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/SALUD.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">SALUD</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0 ">
            <div class="bg-yellow service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/SEPELIO.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Sepelio</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <img class="font-60 service-icon img-responsive w-75" src="assets/images/categorias/TURISMO.png" />
                    <h5 class="mt-2 mb-3 fw-3"><strong class="fw-6">Turismo</strong> </h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

    </div>



</section>