<section id="services" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-green service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-mobile font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 1</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-palette font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 2</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-yellow service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-mobile font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 3</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-mobile font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 4</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-pink service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-mobile font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 5</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-orange service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-split-v-alt font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 6</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-dark-pink service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-desktop font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 7</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-green service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-search font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 8</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0 ">
            <div class="bg-yellow service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-headphone-alt font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> 9</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-categoria pl-0 pr-0">
            <div class="bg-blue service-box text-center" onClick="return true">
                <div class="service-box-inner">
                    <span class="ti-mobile font-60 service-icon"></span>
                    <h5 class="mt-5 mb-3 fw-3"><strong class="fw-6">Categoría</strong> Categoría</h5>
                    <div class="service-hidden-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    </div>
                    <a class="service-read-more" href="#">Saber más</a>
                </div>
            </div>
        </div>

    </div>



</section>