<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-green text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-user counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0"><strong class="fw-6">Happy</strong> Users</h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">4954</span></span>
                </span>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-blue text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-star counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0"><strong class="fw-6">Clients</strong> Reviews</h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">1889</span></span>
                </span>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-dark-blue text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-briefcase counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0">Our <strong class="fw-6">Projects</strong></h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">250</span>+</span>
                </span>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-yellow text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-face-smile counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0">Happy <strong class="fw-6">Clients</strong></h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">100</span>+</span>
                </span>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-orange text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-time counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0"><strong class="fw-6"></strong> Hours</h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">100</span>k</span>
                </span>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2 counter d-flex justify-content-center align-items-center bg-dark-pink text-center text-white position-relative">
                <div class="counter-inner">
                    <span class="ti-calendar counter-icon"></span>
                    <h6 class="fw-3 mt-20 mb-0"><strong class="fw-6"></strong> Days</h6>
                </div>
                <span class="number-back d-flex justify-content-center align-items-center text-center">
                      <span><span class="counter-value">1523</span>+</span>
                </span>
            </div>
        </div>
    </div>
</section>