<section id="pricing" class="section bg-white">
    <div class="container">
        <div class="row justify-content-center text-center mb-60">
            <div class="col-lg-12">
                <h2 class="text-black fw-3"><strong class="fw-7">Nuestros </strong> <span class="text-yellow">Planes</span></h2>
            </div>
            <div class="col-lg-6">
                <p>It seems that only fragments of the original text remain in <mark class="bg-blue text-white">the Lorem Ipsum texts used today. One may speculate</mark></p>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="bg-white price-table mb-30">
                    <div class="price-table-border-top bg-dark-grey"></div>
                    <div class="price-table-header d-flex align-items-center">
                        <div class="price-table-header-inner">
                            <h4 class="fw-4 text-black">Save <strong>up to 40%</strong> by paying annually!</h4>
                        </div>
                    </div>
                    <div class="price-table-body">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center">
                                <h6 class="text-black fw-7">Bandwidth</h6>
                            </li>
                            <li class="d-flex align-items-center">
                                <h6 class="text-black fw-7">Onlinespace</h6>
                            </li>
                            <li class="d-flex align-items-center">
                                <h6 class="text-black fw-7">Support</h6>
                            </li>
                            <li class="d-flex align-items-center">
                                <h6 class="text-black fw-7">Domain</h6>
                            </li>
                            <li class="d-flex align-items-center">
                                <h6 class="text-black fw-7">Hidden Fees</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-white price-table mb-30 active">
                    <div class="price-table-border-top bg-green"></div>
                    <div class="price-table-header d-flex align-items-center justify-content-center text-center">
                        <div class="price-table-header-inner">
                            <div class="price-table-plan fw-3 text-green">Professional</div>
                            <div class="price-table-price fw-3 text-black mt-15">70.000 Gs./<span class="fw-4">Por Mes</span></div>
                        </div>
                    </div>
                    <div class="price-table-body">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Bandwidth:</strong>2GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Onlinespace:</strong>1GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Support:</strong><span class="fas fa-check text-green"></span></li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Domain:</strong>3</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Hidden Fees:</strong><span class="fas fa-times"></span></li>
                        </ul>
                    </div>
                    <div class="price-table-footer">
                        <a href="#" class="btn btn-green btn-block">Obtener Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-white price-table mb-30">
                    <div class="price-table-border-top bg-blue"></div>
                    <div class="price-table-header d-flex align-items-center justify-content-center text-center">
                        <div class="price-table-header-inner">
                            <div class="price-table-plan fw-3 text-blue">Standard</div>
                            <div class="price-table-price fw-3 text-black mt-15">99.000 Gs./<span class="fw-4">Por Mes</span></div>
                        </div>
                    </div>
                    <div class="price-table-body">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Bandwidth:</strong>3GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Onlinespace:</strong>2GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Support:</strong><span class="fas fa-check text-green"></span></li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Domain:</strong>6</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Hidden Fees:</strong><span class="fas fa-times"></span></li>
                        </ul>
                    </div>
                    <div class="price-table-footer">
                        <a href="#" class="btn btn-blue btn-block">Obtener Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-white price-table mb-30">
                    <div class="price-table-border-top bg-yellow"></div>
                    <div class="price-table-header d-flex align-items-center justify-content-center text-orange">
                        <div class="price-table-header-inner">
                            <div class="price-table-plan fw-3 text-yellow">Premium</div>
                            <div class="price-table-price fw-3 text-black mt-15">120.000 Gs./<span class="fw-4">Por Mes</span></div>
                        </div>
                    </div>
                    <div class="price-table-body">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Bandwidth:</strong>4GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Onlinespace:</strong>3GB</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Support:</strong>Unlimited</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Domain:</strong>6</li>
                            <li class="d-flex justify-content-center align-items-center"><strong class="text-black mr-2 d-block d-lg-none">Hidden Fees:</strong><span class="fas fa-times"></span></li>
                        </ul>
                    </div>
                    <div class="price-table-footer">
                        <a href="#" class="btn btn-yellow btn-block">Obtener Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>