<section id="faq" class="position-relative">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 bg-white">
                <div class="section pl-sm-5 pr-sm-5">
                    <div class="mb-60">
                        <h2 class="text-black fw-3"> <strong class="fw-7">Preguntas </strong> <span class="text-yellow">Frecuentes</span></h2>
                        <p>It seems that only fragments of the <i> original text remain in the Lorem Ipsum texts used today.</i> One may speculate</p>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header p-0">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                                        <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>consectetur adipisicing elit, sed ?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse1" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris nisi ut aliquip ex comodo consequat. Duis aute dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                                        <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>temporo incididunt ut labore et dolore ?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse2" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris nisi ut aliquip ex comodo consequat. Duis aute dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true">
                                        <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>quis nostrd exercitation ullamco laboris ?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse3" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris nisi ut aliquip ex comodo consequat. Duis aute dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true">
                                        <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>Duis aute dolor in reprehenderit. ?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse4" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris nisi ut aliquip ex comodo consequat. Duis aute dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true">
                                        <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>consectetur adipisicing elit, sed ?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse5" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris nisi ut aliquip ex comodo consequat. Duis aute dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block" data-parallax data-speed="0.2" data-pos-x="right" data-src="http://via.placeholder.com/1920x1080"></div>
        </div>
    </div>
</section>