<!-- Start Header
    ================================================== -->
<app-header></app-header>
<!-- End Header
================================================== -->

<!-- Start Slider
================================================== -->
<app-slider></app-slider>
<!-- End Slider
================================================== -->

<!-- Start Services
    ================================================== -->
<app-categorias></app-categorias>
<!-- End Services
    ================================================== -->

<!-- Start Partner Slider
    ================================================== -->
<app-partners></app-partners>
<!-- End Partner Slider
    ================================================== -->

<!-- Start Our Portfolio
    ================================================== -->
<app-galeria></app-galeria>
<!-- End Our Portfolio
    ================================================== -->

<!-- Start Testimonios
    ================================================== -->
<app-testimonios></app-testimonios>
<!-- End Testimonios
    ================================================== -->

<!-- Start Counter
    ================================================== -->
<app-contador></app-contador>
<!-- End Counter
    ================================================== -->

<!-- Start Planes
    ================================================== -->
<app-planes></app-planes>
<!-- End Planes
    ================================================== -->

<!-- Start Awesome elements
    ================================================== -->

<!-- Start Frequently Asked Questions
    ================================================== -->
<app-faq></app-faq>
<!-- End Frequently Asked Questions
    ================================================== -->

<!-- Start Get in touch today
    ================================================== -->
<app-contacto></app-contacto>
<!-- End Get in touch today
    ================================================== -->


<app-footer></app-footer>